<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover NYC</title>
    <link rel="stylesheet" href="/place.css">
    </head>

<body>
    <div class="container">
        <h1>Welcome to Discover NYC</h1>
        <p>Your go-to guide for the best places to visit in New York City! Whether you're looking for iconic landmarks, hidden gems, or the best spots to eat and shop, we have you covered.</p>
        <a href="/all">Explore All Places</a>
    </div>
</body>
</html>
